table{
    font-family: Arial, Helvetica, sans-serif;
border-collapse: collapse;
    width: 100%;
}

td,th{
    border-bottom:1px #c95fd2 solid;
    text-align: left;
    padding: 8px;
}

.striped:nth-child(even){
    background-color: #cb59a7;
}
.hover:hover{
    background-color: #61dafb;
}