.App {
  text-align: center;
}

.hv-center {
  display: flex;
  justify-content: center;
  align-items: center;
}
.table{
  background-color: rgb(135, 210, 222);
  height: 300px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
